$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: light !important;
}

.intro {
  margin-top: -70px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../images/intro.jpg) no-repeat bottom center;

  h1 {
    font-size: 44px;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.5em;
  }

  .opening {
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5em 2em;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: -5em;
    margin-bottom: 2em;
  }
}

.ecomenu {
  margin-top: -70px;
  position: relative;
  width: 100vw;
  height: 100vh;

  background: white;

  .title {
    position: absolute;
    width: 100vw;
    height: 30vh;
    margin: 0 auto;
    text-align: center;
  }

  .images {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .image {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }

    .home { background: url(../images/menu/home.jpg) no-repeat bottom center; }
    .certifications { background: url(../images/menu/certifications.jpg) no-repeat bottom center; }
    .dunkerque { background: url(../images/menu/dunkerque.jpg) no-repeat bottom center; }
    .habiter { background: url(../images/menu/habiter.jpg) no-repeat bottom center; }
    .construire { background: url(../images/menu/home.jpg) no-repeat bottom center; }
    .ecolabel { background: url(../images/menu/home.jpg) no-repeat bottom center; }
  }

  .actions {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    .action {
      content: ' ';
      display: block;
      position: absolute;
      cursor: pointer;

      &.certifications {
        top: 30%;
        left: 14%;
        width: 400px;
        height: 100%;
        background: transparent;
      }

      &.dunkerque {
        top: 3%;
        left: 52%;
        width: 330px;
        height: 100%;
        background: transparent;
      }

      &.habiter {
        top: 4%;
        left: 37%;
        width: 230px;
        height: 100%;
        background: transparent;
      }

      &.ecolabel {
        top: 4%;
        left: 70.5%;
        width: 270px;
        height: 100%;
        background: transparent;
      }
    }
  }
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre+Baskerville', serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  margin: 2em 0;
}

h3 {
  margin: 2em 0 1em 0;
}

p {
  font-size: 18px;
  margin-bottom: 2em;
}

a {
  color: #43A047;

  &:hover {
    color: #009688;
  }
}

blockquote {
  font-style: italic;
  font-family: 'Crimson Text', serif;
  color: #666;
}

main {
  margin-top: calc(100vh - 265px);
  width: 100vw;
  height: 100%;
  background: white;
  z-index: 1;
  position: relative;

  -webkit-box-shadow: 0px 2px 50px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 50px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 50px -8px rgba(0, 0, 0, 0.75);
}

.cover {
  position: fixed;
  z-index: 0;
  top: -5vh;
  left: 0;
  width: 100vw;
  height: 1000px;
  overflow: hidden;
  background-color: white;

  img {
    width: 100vw;
    height: auto;
  }

  .container {
    position: absolute;
    top: 0;
  }
}

.text {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  z-index: 10;
  font-size: 11px;
  font-weight: bold;

  ul, li {
    list-style: none;
    padding-left: 0;
  }
}

.cover {
  background-color: black;

  img {
    opacity: 0;
  }
}

.mini-nav {
  ul, li {
    list-style: none;
  }

  position: fixed;
  top: calc(100vh - 400px);
  z-index: 10;

  li {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    padding-bottom: 1em;
  }
}
